*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width:50%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    color: white;
    background-color: red;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}